.blog {
    padding: 0rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.blogDetail {
    display: inline;
    position: relative;
    width: 100%;
}


.linkTitle {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0.5rem;
    /* line-height: 28px; */
}

.linkTitle:hover {
    color: var(--accent-color) !important;
}

.thumbnail {
    margin-right: 2rem;
}

.blogs {
    margin-top: 1rem;
}

.description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.publisher {
    font-size: 14px;
    margin-block: 0rem;
}

.content {
    max-width: 1250px;
    margin-inline: auto;
}

.author {
    cursor: pointer;
    padding-bottom: 2px;
    font-weight: 400;
    border-bottom: 1px solid var(--accent-color);
}