.footer_container {
    margin-inline: auto;
    max-width: 1250px;
    display: grid;
    grid-template-columns: 300px 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
}

.logoContainer {}

.footer_column {
    margin-left: auto;
}

.footer_column ul {
    list-style: none;
    padding: 0px !important;
}

.footer_column li {
    padding-bottom: 8px;
    color: rgb(34, 34, 34);
}

.footer_column .heading {
    font-size: 17px;
    font-weight: 600;
}