@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


:root {
  --accent-color: #EB002E;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fancy_hover {
  background-image: linear-gradient(var(--accent-color), var(--accent-color));
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
}

.fancy_hover:hover {
  background-size: 100% 3px;
}


.logo {
  font-family: 'Antonio', sans-serif;
  font-size: 30px;
}

.logo span {
  color: var(--accent-color);
}

::selection {
  color: white;
  background: var(--accent-color);
}

.active {
  color: #EB002E;
}